* {
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 250, 250);
}

a{
    text-decoration: none;
}

.centerDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#containerId{
    /* background-color: coral; */
    margin: auto;
    margin-top: 70px;
}

#instagramMobileDiv{
    /* background-color:blue; */
    width: 50%;
    height: 618px;
    float: left;
    text-align: right;
}

.iphonesImg{
    height: 618px;
    width: 60%;
}

#instagramContainerDiv{
    /* background-color: brown; */
    height: 618px; 
    text-align: left;
    margin-left: 33px;
    float: left
}

#containerFormulario{
    /* background-color: darkorange; */
    background-color: white;
    height: 382px ;
    width: 350px;
    text-align: center;
    border: 1px solid  rgb(218, 218, 218);
}

#containerImagenDiv{
    /* background-color: rosybrown; */
    background-color: white;
    height: 122px;
    /* width: 350px; */
}


#fontInstagramImg{
    /* background-color: darkgreen; */
    background-color: white;
    height: 55px;
    width: auto;
    /* height: 55px;
    width: 181px; */

    text-align: center;
}

button.logInButton{
    height: 32px;
    width: 270px;
    background-color: rgb(196, 223, 250);
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1em;
    border: 1px solid rgb(196, 223, 250); 
    border-radius: 4px;
    margin: 5px;
}

/* #bigContainer{
    background-color: darkmagenta;
    width: 350px;
    height: 618px;
    text-align: center;
} */

input.credentialUserInput{
    height: 39px;
    width: 270px;
    background-color: rgb(250, 250, 250);
    color: rgb(143, 143, 143);
    margin: 5px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgb(218, 218, 218);
    padding-left: 15px;
    
}
#orDiv {
    margin: 15px;
    color: rgb(143, 143, 143);
    font-size: 13px;
}

.facebookLogInSpan{
    background-color: rgb(60, 82, 129);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.facebookLogInWithSpan{
    color: rgb(60, 82, 129);
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}

button.facebookButton{
    border: none;
    background-color: transparent;
}

#forgotPasswordAnchor{
    color:rgb(60, 82, 129);
}

#forfogPasswordDiv{
    margin-top: 15px;
    font-size: 11px;
}

#dontAccountAndSignUpDiv{
    background-color: white;
    text-align: center;
    border: 1px solid  rgb(218, 218, 218);
    height: 63px;
    width: 350px;
    font-size: 14px;
    margin-top: 14px;
}
#signUpAnchor{
    color: rgb(0, 143, 252);
    padding-left: 5px;
    font-weight: bold;
}
#getTheAppDiv{
    background-color: transparent;
    width: 350px;
    font-size: 14px;
}
button.buttonStore, img.buttonImg{
    width: 138px;
    height: 40px;
    padding: 0;
    border: 0;
    margin: 5px;
    background-color: transparent;
}
#buttonsDiv{
    width: 350px;
    height: 60px;
}











/* **********footer section********  */
footer{
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    float: left;
    margin-top: 74px;
}

.footerDiv{
    background-color: transparent;
    height: 42px;
    /* vertical-align: middle;
    line-height: 42px;  */
    border: none;
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
}
/* 
.leftMenu{
    width: 50%;
    float: left;
}

.rightMenu{
    text-align: right;
} */

li.bottomItemList{
    display: inline;
    padding-right: 20px;
}

.bottomMenu{
    color: rgb(0, 49, 110);
}
.copyright{
    color: rgb(157, 148, 145);
}